
static_config/server_home/config/truststore

static_config/server_home/config/log4j.properties

static_config/server_home/config/keystore

static_config/server_home/config/jetty.xml

static_config/server_home/config/go_update_server.pub

static_config/server_home/config/cruise-config.xsd

static_config/server_home/config/cipher

static_config/server_home/config/agentkeystore
env.bat
